.parallax {
    overflow: hidden;
    letter-spacing: 0.2em;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.scroller {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.scroller span {
    display: block;
    margin-right: 48px;
}